//Productos recomendados - mini carro (complementa mc)
:global(.propulsowcl-vitrinas-inteligentes-0-x-contenedor) {
    display: none;
  }
  //1. general container
  :global(.propulsowcl-vitrinas-inteligentes-0-x-general-container) {
    margin: 2rem 0 0 0;
    :global(.propulsowcl-vitrinas-inteligentes-0-x-buttons) {
      display: flex;
      justify-content: space-between;
      //1.1 left arrow
      :global(.propulsowcl-vitrinas-inteligentes-0-x-button-01) {
        font-size: 0;
        background: none;
        border: none;
        &::after {
          content: url(/arquivos/arrowleft.svg);
        }
      }
      //1.2 right arrow
      :global(.propulsowcl-vitrinas-inteligentes-0-x-button-02) {
        font-size: 0;
        background: none;
        border: none;
  
        &::after {
          content: url(/arquivos/arrowright.svg);
        }
      }
      //1.3 title
      :global(.propulsowcl-vitrinas-inteligentes-0-x-title) {
        font-family: "Futura", sans-serif;
        font-weight: 600;
        font-size: 1.125rem;
        text-transform: uppercase;
      }
    }
    :global(.propulsowcl-vitrinas-inteligentes-0-x-general-carousel) {
      ul {
        margin: 0;
        padding: 0;
      }
    }
    //2. vitrina
    :global(.propulsowcl-vitrinas-inteligentes-0-x-focus) {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: scroll;
      overflow-y: hidden;
      margin: 1rem 0;
      gap: 0.5rem;
      padding-bottom: 1rem;
      //2.1 contenedor producto
      :global(.propulsowcl-complementa-mc-0-x-contenedorProducto) {
        display: flex;
        align-items: center;
        flex-direction: column;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
        height: 11.5rem;
        //2.1.1 img
        :global(.propulsowcl-complementa-mc-0-x-imagen) {
          :global(.propulsowcl-complementa-mc-0-x-imagen_img) {
            max-width: 7rem;
          }
        }
        :global(.propulsowcl-complementa-mc-0-x-contenido) {
          padding: 0.5rem 0.25rem;
          height: 4rem;
          //2.1.2 product name
          :global(.propulsowcl-complementa-mc-0-x-nombre) {
            text-decoration: none !important;
            p {
              color: #1d1d1b;
              margin: 0;
              font-size: 0.813rem;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
            }
          }
          //2.1.2 price
          :global(.propulsowcl-complementa-mc-0-x-precio) {
            margin: 0.5rem 0;
            font-size: 0.813rem;
            text-align: center;
          }
          //2.1.3 btn add to cart
          :global(.propulsowcl-complementa-mc-0-x-addToCart) {
            position: relative;
            bottom: 6rem;
            border-radius: 20px;
            border: none;
            background: #f63636;
            color: white;
            font-weight: 500;
          }
        }
      }
    }
  }


//productos recomendados 2.0
:global(.propulsowcl-sugeridos-minicarro-0-x-precio) {
  margin: 0.5rem 0;
  font-size: 0.9rem;
}

:global(.propulsowcl-sugeridos-minicarro-0-x-addToCart) {
  position: relative;
  bottom: 1.5rem !important;
  margin-left: 5rem !important;
  border-radius: 20px;
  border: none;
  background: #f6ba15;
  color: #fff;
  font-weight: 500;
}