.label--info-card-guitar-btn {
  font-weight: 500;
}
.link--black-friday-category,
.link--black-friday-category:hover,
.link--black-friday-category:focus,
.link--black-friday-category:active {
  text-decoration: none;
  color: inherit;
}
.label--black-friday-category {
  text-decoration: none;
  color: inherit;
  margin: 0.5rem;
  color: #f6ba15;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
}
.link--decibel-category,
.link--decibel-category:hover,
.link--decibel-category:focus,
.link--decibel-category:active {
  text-decoration: none;
  color: inherit;
}
.label--decibel-category {
  text-decoration: none;
  color: inherit;
  margin: 0.5rem;
  color: #f6ba15;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
}
