.installments {
  color: #545454;
  margin-bottom: 10px;
  display: none;
}

/************************/
/***   PRODUCT PAGE   ***/
/************************/
.sellingPrice {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}

.installments--product-installments {
  font-size: 18px;
  font-weight: 400;
}

.listPrice {
  margin: auto;  
}